.a {
  text-align: center;
  color: red;
}

#doan1 {
  font-size: 14px;
  color: white;
  background-color: blue;
}
#doan2 {
  font-size: 14px;
  color: yellow;
  background-color: brown;
}
